.hero-section {
  margin: 3.25rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  @media (max-width: 35rem) {
    margin: 3rem auto;
    flex-direction: column-reverse;
  }
}

.hero-left {
  flex-basis: 40%;
}

.hero-right {
  flex-basis: 50%;
}
.hero-right img {
  @media (max-width: 35rem) {
    max-width: 100%;
  }
}


