nav {
  position: relative;
  z-index: 1000;
  overflow: hidden;
  width: 100%;
  display: flex;
  padding: 4px 0;
  margin: 30px auto;
  gap: 5.5rem;
  justify-content: center;
  align-items: center;
}

nav ul li {
  display: none;
}

nav ul {
  z-index: 99;
}

.logo {
  width: 8.25rem;
}

.hamburger {
  display: block;
}

.headbtn{
  display: none;
}

/* MEDIA QUERIES */

/* 1200px  and More*/
@media (min-width: 1024px) {
  nav {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  nav ul {
    margin-left: 100px;
  }

  nav ul li {
    display: inline-block;
    margin: 10px 12px;
  }

  .hamburger {
    display: none;
  }
}

@media (min-width: 1440px) {

  
}

